.mint-swipe {
  height:3.8rem;
  .mint-swipe-indicators{
    bottom:0.2rem;
    height: 0.3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    .mint-swipe-indicator {
      width:0.25rem;
      height:0.08rem;
      border-radius: 0;
      opacity: 1;
      background: #CDD5F0;
    }
    .is-active {
      background: #ffffff;
    }
  }
}
